html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.toolbar{
    height: 48px;
    background-color: gray;
}
.topband{
    height: calc(50% - 24px);
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows:minmax(48px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
}
.topband > div{
    background:#eee;
    padding:1em;
}
.topband > div:nth-child(odd){
    background: #ddd;
}

.ticket{
    grid-column:1;
    grid-row:1;
    border:1px solid #333;
}
.topbandcolumns{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items:stretch;
    align-items:stretch;
}
.tenkey{
    grid-column:2;
    grid-row:1;
    border:1px solid #333;
}


.tenkey > div{
    background:#eee;
    padding:1em;
}
.tenkey > div:nth-child(odd){
    background: #ddd;
}

.key_CE{
    grid-column:1;
    grid-row:1;
    border:1px solid #333;
}

.key_multiply{
    grid-column:3;
    grid-row:1;
    border:1px solid #333;
}

.key_subtract{
    grid-column:4;
    grid-row:1;
    border:1px solid #333;
}

.key_1{
    grid-column:1;
    grid-row:2;
    border:1px solid #333;
}

.key_2{
    grid-column:2;
    grid-row:2;
    border:1px solid #333;
}

.key_3{
    grid-column:3;
    grid-row:2;
    border:1px solid #333;
}

.key_4{
    grid-column:1;
    grid-row:3;
    border:1px solid #333;
}

.key_5{
    grid-column:2;
    grid-row:3;
    border:1px solid #333;
}

.key_6{
    grid-column:3;
    grid-row:3;
    border:1px solid #333;
}

.key_7{
    grid-column:1;
    grid-row:4;
    border:1px solid #333;
}

.key_8{
    grid-column:2;
    grid-row:4;
    border:1px solid #333;
}

.key_9{
    grid-column:3;
    grid-row:4;
    border:1px solid #333;
}

.key_0{
    grid-column:1/3;
    grid-row:5;
    border:1px solid #333;
}

.key_add{
    grid-column:4;
    grid-row:2/4;
    border:1px solid #333;
}

.key_pay{
    grid-column:4;
    grid-row:4/6;
    border:1px solid #333;
}

.key_dot{
    grid-column:3;
    grid-row:5;
    border:1px solid #333;
}





.bottomband{
    height: calc(50% - 24px);
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows: auto;
    grid-auto-rows:minmax(48px, auto);
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;
}
.bottomband > div{
    background:#eee;
    padding:1em;
}
.bottomband > div:nth-child(odd){
    background: #ddd;
}



.items_categories{
    grid-column:1;
    grid-row:1;
    border:1px solid #333;
}

.items_catalog{
    grid-column:2;
    grid-row:1;
    border:1px solid #333;
}
