.wrapper{
    height: 100%;
    width: 100%; 
    margin: 0;
    display:grid;
    grid-template-columns: repeat(16, 1fr); /*1fr 2fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: repeat(12, 3rem); /*3rem works for 1024x768*/
    grid-gap:1rem;
}
.wrapper > div{
    background:#eee;
}

.tool_01{
    grid-column:1;
    grid-row:1;
    border:1px solid #333;
}
.tool_02{
    grid-column:1;
    grid-row:2;
    border:1px solid #333;
}
.tool_03{
    grid-column:1;
    grid-row:3;
    border:1px solid #333;
}
.tool_04{
    grid-column:1;
    grid-row:4;
    border:1px solid #333;
}
.tool_05{
    grid-column:1;
    grid-row:5;
    border:1px solid #333;
}
.tool_06{
    grid-column:1;
    grid-row:6;
    border:1px solid #333;
}
.tool_07{
    grid-column:1;
    grid-row:7;
    border:1px solid #333;
}
.tool_08{
    grid-column:1;
    grid-row:8;
    border:1px solid #333;
}
.tool_09{
    grid-column:1;
    grid-row:9;
    border:1px solid #333;
}
.tool_10{
    grid-column:1;
    grid-row:10;
    border:1px solid #333;
}
.tool_11{
    grid-column:1;
    grid-row:11;
    border:1px solid #333;
}
.tool_12{
    grid-column:1;
    grid-row:12;
    border:1px solid #333;
}

.ticket_display{
    grid-column:2/12;
    grid-row:1/6;
    border:1px solid #333;
}
.ticket_up{
    grid-column:12;
    grid-row:1;
    border:1px solid #333;
}
.ticket_down{
    grid-column:12;
    grid-row:2;
    border:1px solid #333;
}
.ticket_item_delete{
    grid-column:12;
    grid-row:3;
    border:1px solid #333;
}
.ticket_search{
    grid-column:12;
    grid-row:4;
    border:1px solid #333;
}
.ticket_edit{
    grid-column:12;
    grid-row:5;
    border:1px solid #333;
}
.ticket_properties{
    grid-column:12;
    grid-row:6;
    border:1px solid #333;
}
.ticket_subtotal{
    grid-column:6/8;
    grid-row:6;
    border:1px solid #333;
}
.ticket_tax{
    grid-column:8/10;
    grid-row:6;
    border:1px solid #333;
}
.ticket_total{
    grid-column:10/12;
    grid-row:6;
    border:1px solid #333;
}

.key_printreciept{
    grid-column:13;
    grid-row:1;
    border:1px solid #333;
}

.key_discount{
    grid-column:14;
    grid-row:1;
    border:1px solid #333;
}

.key_printreciept2{
    grid-column:15;
    grid-row:1;
    border:1px solid #333;
}

.key_drawer{
    grid-column:16;
    grid-row:1;
    border:1px solid #333;
}

.key_CE{
    grid-column:13/15;
    grid-row:2;
    border:1px solid #333;
}

.key_multiply{
    grid-column:15;
    grid-row:2;
    border:1px solid #333;
}

.key_subtract{
    grid-column:16;
    grid-row:2;
    border:1px solid #333;
}

.key_1{
    grid-column:13;
    grid-row:3;
    border:1px solid #333;
}

.key_2{
    grid-column:14;
    grid-row:3;
    border:1px solid #333;
}

.key_3{
    grid-column:15;
    grid-row:3;
    border:1px solid #333;
}

.key_4{
    grid-column:13;
    grid-row:4;
    border:1px solid #333;
}

.key_5{
    grid-column:14;
    grid-row:4;
    border:1px solid #333;
}

.key_6{
    grid-column:15;
    grid-row:4;
    border:1px solid #333;
}

.key_7{
    grid-column:13;
    grid-row:5;
    border:1px solid #333;
}

.key_8{
    grid-column:14;
    grid-row:5;
    border:1px solid #333;
}

.key_9{
    grid-column:15;
    grid-row:5;
    border:1px solid #333;
}

.key_0{
    grid-column:13/15;
    grid-row:6;
    border:1px solid #333;
}

.key_add{
    grid-column:16;
    grid-row:3/5;
    border:1px solid #333;
}

.key_pay{
    grid-column:16;
    grid-row:5/7;
    border:1px solid #333;
}

.key_dot{
    grid-column:15;
    grid-row:6;
    border:1px solid #333;
}

.items_categories_list{
    grid-column:2/4;
    grid-row:7/13;
    border:1px solid #333;
}
.items_categories_nav_up{
    grid-column:4;
    grid-row:7;
    border:1px solid #333;
}

.items_categories_nav_dn{
    grid-column:4;
    grid-row:8;
    border:1px solid #333;
}

.items_catalog_list{
    grid-column:5/16;
    grid-row:7/13;
    border:1px solid #333;
}
.items_catalog_nav_up{
    grid-column:16;
    grid-row:7;
    border:1px solid #333;
}
.items_catalog_nav_down{
    grid-column:16;
    grid-row:8;
    border:1px solid #333;
}

